<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Chi tiết bài đăng</title>
</head>
<body>
    <div class="wrapper">
        <!-- header -->
        <div id="header">
            <script src="/js/web/components/header_web.js"></script>         
        </div>
        <!-- header -->
        <!-- content -->
        <section class="header-study-group bg-gradient-blue">
            <div style="width: 1164px;" class="container">
                <script src="/js/web/baidang/chitietbaidang.js"></script>
            </div>
            <input type="hidden" th:value="${tkid}" id="tkid">
        </section>
        <!-- content -->
        <!-- footer -->
        <hr style="margin-top: 30px;color: #069d86; width: 100%;">
        <div class="last-content">
            <script src="/js/web/components/httv.js"></script>
        </div>
        <div id="footer">
            <script src="/js/web/components/footer_web.js"></script>
        </div>
        <!-- footer -->
    </div>
    <script src="/js/web/lop/taolop.js"></script>
    <script src="/js/web/baidang/yeucauday.js"></script>
</body>
</html>
