<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>

    <title>Đăng ký làm gia sư</title>
</head>

<body>
    <div style="height: 1000px;" class="wrapper">
        <div id="header">
            <script src="/js/web/components/header_web.js"></script>
        </div>
        <div class="content-dkgs" id="intro">
            <div class="left-gt-dkgs">
                <div class="box_title">VỀ DASUO</div>
                <span class="outline-bottom"></span>
                <p>Dasuo là Tổ hợp Công nghệ Giáo dục thành lập từ năm 2021. Dasuo là đơn vị tiên phong trong việc áp
                    dụng các công nghệ mới vào kết nối giáo dục. Trong lĩnh vực gia sư, Dasuo được biết đến như là “Uber
                    gia sư” đầu tiên tại Việt Nam.</p>
                <p>Cộng đồng gia sư Dasuo hiện đang là cộng đồng gia sư lớn nhất cả nước với hơn 20,000 thành viên đến
                    từ khắp các địa phương tại Việt Nam và rất da dạng về trình độ chuyên môn.</p>
                <p>Với uy tín và chất lượng dịch vụ đã được khẳng đinh, Dasuo tự hào được nhiều kênh truyền thông lớn
                    như VnExpress, Dantri, Tiin… làm chương trình tôn vinh.</p>
                    <p style="text-align:center;"><a href="#select-dkgs" style="padding:10px;background-color:#069D86;color:#fff; border-radius:15px;text-decoration: none; font-size:16px;">Đăng ký ngay! </a></p>
            </div>
            <div class="right-gt-dkgs">

            </div>
        </div>

        <div class="section_howitwork" id="section_howitwork">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 box-header">
                        <div class="box_title">GIA SƯ CÔNG NGHỆ HOẠT ĐỘNG NHƯ THẾ NÀO?</div>
                    </div>
                    <div class="col-md-4 col-sm-6 width_dkgs">
                        <div class="item">
                            <div class="title">
                                <div class="icon-resource icon-1" style="float:left" ;=""></div>
                                <div style="padding-left:60px;">1. Đăng ký Online</div>
                            </div>
                            <div class="detail">
                                Bạn chỉ cần đăng ký online và hoàn thiện hồ sơ cá nhân rất đơn giản.
                                Ngoài ra, còn có thể upload hình ảnh, video và giáo trình giảng dạy để tăng uy tín với
                                học viên. Hồ sơ đăng ký được duyệt trong 3- 24h.
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 width_dkgs">
                        <div class="item">
                            <div class="title">
                                <div class="icon-resource icon-1" style="float:left"></div>
                                <div style="padding-left:60px;">2. Tự chọn lớp và học phí</div>
                            </div>
                            <div class="detail">
                                Gia sư chủ động lựa chọn lớp và mức giá phù hợp. Gửi đề nghị dạy và ghi nội dung muốn
                                nhận lớp. Blacasa sẽ liên hệ lại với bạn để hướng dẫn nhận lớp nếu hồ sơ của bạn đạt yêu
                                cầu.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 width_dkgs">
                        <div class="item">
                            <div class="title">
                                <div class="icon-resources icon-5" style="float:left"></div>
                                <div style="padding-left:60px;">3. Kết nối học viên</div>
                            </div>
                            <div class="detail">
                                Người quản lý lớp trực tiếp sẽ hỗ trợ kết nối bạn với học viên và chủ động sắp xếp lịch
                                học. Lương của gia sư sẽ được Blacasa trả qua ứng dụng sau mỗi buổi học.
                                <br> <br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div style="margin-top: 300px;" class="container fix_height">
            <div class="lien-he-mobile" style="text-align:center; padding:20px 0;font-size:32px;font-weight:bold;">
                Hotline tư vấn miễn phí:
                <i class="fas fa-phone-alt"></i>
                <a class="hotline" href="tel:1900.12.12.12" rel="nofollow">1900.12.12.12</a> - <a class="hotline"
                    href="tel:0353312340" rel="nofollow">0353312340</a>
            </div>
        </div>

        <!-- Các lý do chọn Dasuo -->
        <div class="section_whyuss hide-on-desktop hide-on-tablet" id="section_whyus ">
            <div class="container">
                <div class="box_title">
                    05 LÝ DO<br>
                    NÊN ĐĂNG KÝ LÀM GIA SƯ TRÊN DASUO
                </div>
                <div class="box_contents">
                    <div class="item item_1">
                        <div class="item_content">
                            <div class="info">
                                <div class="title">
                                    HỌC PHÍ CAO, PHÙ HỢP VỚI YÊU CẦU DẠY HỌC
                                </div>
                                <div class="desc">
                                    Các lớp trên Dasuo đều được nhân viên hỗ trợ gọi điện, tư vấn cho khách hàng để đưa
                                    ra mức học phí phù hợp với từng trình độ và thoả mãn được quyền lợi của gia sư.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item_2">
                        <div class="item_content">
                            <div class="info">
                                <div class="title">
                                    NHẬN LƯƠNG NGAY SAU MỖI BUỔI HỌC
                                </div>
                                <div class="desc">
                                    Thông qua ứng dụng quản lý chuyên nghiệp, gia sư sẽ được nhận lương ngay sau mỗi
                                    buổi dạy hoàn toàn minh bạch và nhanh chóng.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item_3">
                        <div class="item_content">
                            <div class="info">
                                <div class="title">
                                    ĐƯỢC CUNG CẤP GIÁO ÁN, HỖ TRỢ CHUYÊN MÔN
                                </div>
                                <div class="desc">
                                    Phòng đào tạo của Dasuo sẽ cung cấp giáo án phù hợp với nhu cầu của gia sư và từng
                                    đối tượng học sinh. Các bài kiểm tra định kỳ cũng được cập nhật liên tục giúp gia sư
                                    tiết kiệm thời gian hơn.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item_4">
                        <div class="item_content">
                            <div class="info">
                                <div class="title">
                                    UY TÍN, CHUYÊN NGHIỆP VÀ AN TOÀN
                                </div>
                                <div class="desc">
                                    Dasuo có hợp đồng và chính sách hoàn phí rõ ràng, chi tiết. Ngoài ra các lớp đều
                                    được xác thực trước nên mọi vấn đề phát sinh đều được xử lý nhanh gọn và đảm bảo
                                    quyền lợi cho gia sư.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item_5">
                        <div class="item_content">
                            <div class="info">
                                <div class="title">
                                    QUẢN LÝ LỚP HỖ TRỢ TẬN TÌNH
                                </div>
                                <div class="desc">
                                    Mỗi lớp gia sư sẽ có một quản lý lớp hỗ trợ gia sư tận tình trong quá trình dạy học.
                                    Mọi khó khăn hoặc các vấn đề gặp phải của gia sư đều được hỗ trợ tận tình và chu
                                    đáo.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_whyus hide-on-mobile" id="section_whyus ">
            <div class="container">
                <div class="box_title">
                    05 LÝ DO<br>
                    NÊN ĐĂNG KÝ LÀM GIA SƯ TRÊN DASUO
                </div>
                <div class="box_content">
                    <div class="item item_1">
                        <div class="item_content">
                            <div class="info">
                                <div class="title">
                                    HỌC PHÍ CAO, PHÙ HỢP VỚI YÊU CẦU DẠY HỌC
                                </div>
                                <div class="desc">
                                    Các lớp trên Dasuo đều được nhân viên hỗ trợ gọi điện, tư vấn cho khách hàng để đưa
                                    ra mức học phí phù hợp với từng trình độ và thoả mãn được quyền lợi của gia sư.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item_2">
                        <div class="item_content">
                            <div class="info">
                                <div class="title">
                                    NHẬN LƯƠNG NGAY SAU MỖI BUỔI HỌC
                                </div>
                                <div class="desc">
                                    Thông qua ứng dụng quản lý chuyên nghiệp, gia sư sẽ được nhận lương ngay sau mỗi
                                    buổi dạy hoàn toàn minh bạch và nhanh chóng.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item_3">
                        <div class="item_content">
                            <div class="info">
                                <div class="title">
                                    ĐƯỢC CUNG CẤP GIÁO ÁN, HỖ TRỢ CHUYÊN MÔN
                                </div>
                                <div class="desc">
                                    Phòng đào tạo của Dasuo sẽ cung cấp giáo án phù hợp với nhu cầu của gia sư và từng
                                    đối tượng học sinh. Các bài kiểm tra định kỳ cũng được cập nhật liên tục giúp gia sư
                                    tiết kiệm thời gian hơn.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item_4">
                        <div class="item_content">
                            <div class="info">
                                <div class="title">
                                    UY TÍN, CHUYÊN NGHIỆP VÀ AN TOÀN
                                </div>
                                <div class="desc">
                                    Dasuo có hợp đồng và chính sách hoàn phí rõ ràng, chi tiết. Ngoài ra các lớp đều
                                    được xác thực trước nên mọi vấn đề phát sinh đều được xử lý nhanh gọn và đảm bảo
                                    quyền lợi cho gia sư.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item_5">
                        <div class="item_content">
                            <div class="info">
                                <div class="title">
                                    QUẢN LÝ LỚP HỖ TRỢ TẬN TÌNH
                                </div>
                                <div class="desc">
                                    Mỗi lớp gia sư sẽ có một quản lý lớp hỗ trợ gia sư tận tình trong quá trình dạy học.
                                    Mọi khó khăn hoặc các vấn đề gặp phải của gia sư đều được hỗ trợ tận tình và chu
                                    đáo.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end 5 lý do -->

            <!-- start chia sẽ của gia sư -->


            <!-- end chia sẽ của giá sư -->
            <!-- form đăng ký gia sư -->
            <div class="form-dkgs" id="select-dkgs">
                <div class="content-form-dkgs">
                    <div class="title-dkgs">ĐĂNG KÝ</div>
                </div>
                <div class="form-dkgs-dasuo">
                    <div class="dkgs-text">
                        ĐĂNG KÝ GIA SƯ NGAY
                    </div>
                    <div class="input-dkgs">
                        <input type="text" placeholder="Họ tên(*)">
                    </div>
                    <div class="input-dkgs">
                        <input type="text" placeholder="Số điện thoại(*)">
                    </div>
                    <div class="input-dkgs">
                        <input type="text" placeholder="Email(*)">
                    </div>
                    <div class="input-dkgs">
                        <input type="text" placeholder="Mật khẩu(*)">
                    </div>
                    <div class="input-dkgs">
                        <input type="text" placeholder="Nhập lại mật khẩu(*)">
                    </div>
                    <div class="input-dkgs">
                        <input class="btn-dkgs" type="button" value="Nhận lớp ngay">
                    </div>

                </div>
            </div>
            <!-- form đăng ký gia sư -->

            <!-- footer -->
            <hr style="margin-top: 30px;color: #069d86; width: 100%;">
            <div class="last-content">
                <script src="/js/web/components/httv.js"></script>
            </div>
            <div id="footer">
                <script src="/js/web/components/footer_web.js"></script>
            </div>
            <!-- footer -->

        </div>

</body>

</html>