
<!doctype html>
<html>
<head>
<title>Register</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Official Signup Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

<!-- /fonts -->
<!-- css -->
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/style.css" rel='stylesheet' type='text/css' media="all" />
<script src="/js/jquery.min.js"></script>
<!-- /css -->
</head>
<body>
 
    <div id="header">
        <div class="logo">
            <a href="#">
                <img src="/img/logo.PNG" alt="dasuo-logo">
             </a>
 
        </div>
        <div class="menu-top">
         <ul style="height: 58px;" id="nav">
             <li><a href="#">Đăng yêu cầu</a></li>
             <li><a href="#">Lớp mới</a></li>
            
             <li>
                 <a href="#">Gia sư <i class="fas fa-caret-down icon-down"></i></a>
                 <ul class="subnav">
                     <li><a href="#">Yêu cầu tìm gia sư</a></li>
                     <li><a href="#">Gia sư online</a></li>
                     <li><a href="#">Trở thành gia sư </a></li>
                     
                 </ul>
             </li>
         </ul>
         </div>
     <div class="btn-dk-dn">
         <a href="#" id="btn-dn">Đăng nhập</a>
         <a style="border: 1px solid white;padding: 6px 12px ;border-radius: 3px; color: yellow;" href="#" id="btn-dk">Đăng ký</a>
     </div>
     
        
     </div>
    
<h1 class="w3ls">ĐĂNG KÝ </h1>
<div class="content-w3ls">
	<div class="content-agile1">
		<h2 class="agileits1">Dasuo</h2>
		<p class="agileits2">Kết nối gia sư dạy và học trực tuyến .</p>
	</div>
	<div class="content-agile2">
		<form action="#" method="post">
			<div class="form-control w3layouts"> 
				<input type="text" id="firstname" name="firstname" placeholder="Tên" title="Please enter your First Name" required="">
			</div>

			<div class="form-control w3layouts">	
				<input type="email" id="email" name="email" placeholder="Email" title="Please enter a valid email" required="">
			</div>

			<div class="form-control agileinfo">	
				<input type="text" class="lock" name="password" placeholder="Số điện thoại" id="password1" required="">
			</div>	

			<div class="form-control agileinfo">	
				<input type="password" class="lock" name="confirm-password" placeholder="Mật khẩu" id="password2" required="">
			</div>	
            
            <div class="form-control agileinfo">	
				<input type="password" class="lock" name="confirm-password" placeholder=" Nhập lại mật khẩu" id="password3" required="">
			</div>
			
			<input type="submit" id="submit" class="register" value="Đăng ký">
		</form>
		
		
	</div>
	
    
</div>
<script src="/js/web/taikhoan.js"></script>
</body>

</html>