<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div style="background-color: #f7f7f7;" class="wrapper">
        <div id="header">
            <script src="/js/web/components/header_web.js"></script>
        </div>

        <div style="margin-bottom: 20px;margin-left: 60px;" class="container p-create-class-body">
            <div style="margin-top: 74px;" class="form-nhom-hoc">
                <div class="error-alert-linh">
                    <span class="closebtn-linh"
                        onclick="this.parentElement.style.display='none';">&times;</span> <strong>Thêm bài đăng thất bại!</strong>
                </div>
                <div class="success-alert-linh">
                    <span class="closebtn-linh"
                        onclick="this.parentElement.style.display='none';">&times;</span> <strong>Thêm bài đăng thành công!</strong>
                </div>
                <div class="left-form">
                    <div class="header-form">
                        <h2 style="margin: 0;font-size: 24px;">Mô tả yêu cầu tìm gia sư</h2>
                    </div>
                    <div style="margin-left: -5px;margin-right: -5px;" class="group-row">
                        <div class="row">
                            <!--Hướng dẫn & mời gia sư-->
                            <div class="col-md-12">
                                <div class="class-field-1 class-field">
                                    <input type="hidden" name="nid" value="">
                                    <p style="text-align: justify;line-height:1.8;font-size:15px;">
                                        Xin chào, bạn chỉ cần <strong>đăng yêu cầu học</strong>, các gia sư sẽ
                                        <strong>gửi đề nghị dạy</strong>
                                        tới bạn với mức học phí phù hợp để bạn lựa chọn. Nếu bạn cần tư vấn, xin vui
                                        lòng gọi điện tới chúng tôi:
                                        <a style="color:#069d86;text-decoration: none;" href="#">0353312340 </a> hoặc
                                        <a class="btn-border-only" href="#;" style="padding:4px 5px;">
                                            <i class="fa fa-comment-alt"></i> CHAT trực tuyến</a><br>
                                    </p>
                                </div>
                                <hr style="opacity: 0.3;">

                            </div>
                        </div>
                        <div class="group-row">
                            <div style="padding: 0 16px;" class="col-md-12 class-field">
                                <p class="p-create-class-title">
                                    Tóm tắt yêu cầu tìm gia sư (1 câu, tối đa 100 ký tự) <span
                                        class="teacher-alert">*</span>
                                </p>
                                <input type="text" name="tomtatyc" id="tomtatyc"
                                    placeholder="Ví dụ: Tìm gia sư tiếng anh lớp 7 Đà Nẵng" maxlength="100" value="">
                            </div>
                            <div class="col-md-6">
                                <div class="class-field-4 class-field">
                                    <p class="p-create-class-title">Môn học <span class="teacher-alert">*</span></p>
                                    <select name="monhoclinh" id="monhoclinh">
                                        <option value="">Lựa chọn môn học</option>
                                        <optgroup class="mon-phothong" label="Môn học phổ thông">
                                            <script src="\js\web\monhoc\hienthidanhsachmon.js"></script>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr style="width: 99%;opacity: 0.3; margin-left: 4px;">
                        <div class="group-row">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="class-field-6 class-field">
                                        <p class="p-create-class-title">Học phí dự kiến (vnđ/buổi) <span
                                                class="teacher-alert">*</span></p>
                                        <input type="text" class="numberOnly" autocomplete="off" maxlength="13"
                                            placeholder="Ví dụ:250,000" name="price_cost" id="price_cost" value=""
                                            data-original-title="" title="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="class-field-6 class-field class-time">
                                        <p class="p-create-class-title">Số giờ học 1 buổi <span
                                                class="teacher-alert">*</span></p>
                                        <input type="radio" name="duration" value="1"><label>1h</label>
                                        <input type="radio" name="duration" value="1.5"><label>1.5h</label>
                                        <input type="radio" name="duration" value="2" checked=""><label>2h</label>
                                        <input type="radio" name="duration" value="2.5"><label>2.5h</label>
                                    </div>
                                </div>
                                <div style="left: 0;" class="col-md-6">

                                    <div style="left: 0px;" class="class-field-5 class-field">
                                        <p class="p-create-class-title">Điện thoại liên hệ <span
                                                class="teacher-alert">*</span></p>
                                        <input class="numberOnly" type="text" name="phone_class" id="phone_class"
                                            placeholder="Ví dụ: 091234567" value="0353312340">
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="info-step2">
                            <p style="margin-left: 20px;" class="p-create-class-title"><i class="fa fa-calendar"
                                    aria-hidden="true"></i> Thời gian có thể học</p>
                            <div style="text-align: center; height: 200PX; margin-left: 32px;" class="schedule-detail">
                                <script src="/js/web/components/chonlich.js"></script>
                            </div>
                            <p class="note-calender">Bấm để chọn lịch (<span style="color: #007e00">Màu xanh</span> là
                                những buổi có thể học.)</p>

                        </div>
                        <div style="width: 100%;" class="col-md-12">
                            <div class="class-field-12 class-field">
                                <p style="margin-left: 12px;" class="p-create-class-title"><i style="margin-right: 6px;"
                                        class="fa fa-quote-right" aria-hidden="true"></i>Mô tả chi tiết nội dung muốn
                                    học <span class="class-field-alert">*</span></p>
                                <textarea style="width: 95%;padding: 8px 10px;margin-left: 20px;" name="introduce_class"
                                    id="introduce-class" placeholder="Mô tả các nội dung muốn học tại đây... " cols="38"
                                    rows="8"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="group-row">
                        <fieldset style="border: 1px solid #8a8a8a;">
                            <legend style="text-align: center;  color: #8a8a8a;font-weight: bold; font-size: 16px">THÔNG
                                TIN THÊM</legend>
                            <div class="row-read-more read-more-wrap">
                                <div class="read-more-target">

                                    <!--Số buổi học 1 tuần-->
                                    <div class="col-md-6">
                                        <div class="class-field-6 class-field class-sum-day">
                                            <p class="p-create-class-title">Số buổi học trong tuần</p>
                                            <input type="radio" name="times_per_week" value="1"><label> 1 buổi</label>
                                            <input type="radio" name="times_per_week" value="2"
                                                checked="checked"><label> 2 buổi</label>
                                            <input type="radio" name="times_per_week" value="3"><label> 3 buổi</label>
                                            <input type="radio" name="times_per_week" value="4"><label> từ 4
                                                buổi</label>
                                        </div>
                                    </div>

                                    <!--Số học viên-->
                                    <div class="col-md-6">
                                        <div class="class-field-8 class-field">
                                            <p class="p-create-class-title">Số học viên</p>
                                            <input style="padding: 8px 5px; padding-right: 220px;" type="text"
                                                name="number_student" id="number_student" value="1">
                                        </div>
                                    </div>

                                    <!--Giới tính gia sư-->

                                    <div class="col-md-6">
                                        <div class="class-field-8 class-field">
                                            <p class="p-create-class-title">Giới tính gia sư</p>
                                            <span style="padding-right:15px; min-width:60px;">
                                                <input type="checkbox" name="teacher_male" id="teacher_male" value="1"
                                                    checked=""> Nam
                                            </span>
                                            <span>
                                                <input type="checkbox" name="teacher_female" id="teacher_female"
                                                    value="0" checked=""> Nữ
                                            </span>
                                        </div>
                                    </div>

                                    <!--Ngày học dự kiến-->
                                    <div class="col-md-6">
                                        <div class="class-field-9 class-field">
                                            <p class="p-create-class-title">Ngày dự kiến học</p>
                                            <input style="padding: 8px 5px; padding-right: 220px;" type="text"
                                                name="day-start" id="day-start" value="" class="hasDatepicker">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <div class="group-row">
                            <!--Cam kết khi tạo mới-->
                            <div class="row"
                                style="font-size: 14px;max-width:500px;text-align:center;margin:auto; padding-bottom:10px;margin-top: 16px;">
                                <input type="checkbox" name="term_of_user" id="term-of-user" value="1">
                                <span id="text-term-of-use">Tôi cam kết thông tin tạo lớp là thật và
                                    chấp nhận <a href="#" target="_blank"
                                        style="color:unset; text-decoration: none;"><i>các quy định</i></a> của
                                    Dasuo.</span>
                            </div>
                            
                            <p id="tkid" style="display: none;">[[${tkid}]]</p>

                            <!--Button đăng, cập nhật-->
                            <div class="row" style="text-align:center;padding:10px 0;">
                                <input name="submit-info" type="button" data-id="${tkid}" id="dangyc-btn" class="btn-bla-big btn-yellowblacasa"
                                    style="cursor: pointer; color:#fff;font-size: 16px;font-weight:bold;border: none; background-color: orange;padding: 16px 20px;border-radius: 5px;"
                                    value="Đăng yêu cầu">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-form">
                    <div class="right-class-new-top">
                        <i class="far fa-check-square checked-icon"></i>
                        <div class="right-class-new-top-content">
                            <h4>Tại sao bạn nên tìm gia sư trên Dasuo ?</h4>
                            <p><i class="fa fa-check" aria-hidden="true"></i> Gia sư được sàng lọc, đào tạo kỹ năng và
                                chuyên môn nghiệp vụ. </p>
                            <p><i class="fa fa-check" aria-hidden="true"></i> Gia sư được sàng lọc, đào tạo kỹ năng và
                                chuyên môn nghiệp vụ. </p>
                            <p><i class="fa fa-check" aria-hidden="true"></i> Có chuyên gia tư vấn, định hướng học tập.
                            </p>
                            <p><i class="fa fa-check" aria-hidden="true"></i> Lộ trình học rõ ràng, được thiết kế cho
                                sát với trình độ học viên.</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i> Hỗ trợ nhiệt tình, thân thiện.</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i> Hoàn toàn miễn phí</p>
                        </div>

                    </div>
                    <div class="right-class-new-content">
                        <h3>Tìm gia sư <span>chỉ với 3 bước</span></h3>
                        <div class="right-class-step2">
                            <img style="width: 160px;height: 110px;padding: 10px 0;margin-top: 12px;"
                                src="/img/Capture1.PNG">
                            <h4>Học thử với gia sư</h4>
                            <p>Khi nhận được yêu cầu, chăm sóc viên của Dasuo sẽ gọi lại cho bạn để xác nhận yêu cầu và
                                sắp xếp buổi học thử miễn phí với gia sư phù hợp nhất. Đó là những gia sư TOP 1 trên hệ
                                thống, không chỉ có hồ sơ tốt mà còn được đánh giá cao bởi học viên, phụ huynh trên
                                Dasuo.</p>
                        </div>
                        <div class="right-class-step1">
                            <img src="/img/Capture.PNG">
                            <h4>Đăng yêu cầu tìm gia sư</h4>
                            <p>Form nhập yêu cầu rất đơn giản, chỉ mất hơn một phút để hoàn thành.</p>
                        </div>
                        <div class="right-class-step3">
                            <img src="/img/Capture2.PNG">
                            <h4>Đăng ký khóa học gia sư theo lộ trình phù hợp</h4>
                            <p>Toàn bộ khóa học sẽ được kiểm soát , bạn có thể theo dõi thời gian học, nội dung mỗi buổi
                                học, nhận xét của gia sư, có chuyên gia tư vấn và hỗ trợ.</p>
                            <h3 style="color: #069d86;">GIA SƯ TỐT NHẤT CỦA BẠN !</h3>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <hr style="margin-top: 30px;color: #069d86; width: 100%;">
        <div class="last-content">
            <script src="/js/web/components/httv.js"></script>
        </div>
        <div id="footer">
            <script src="/js/web/components/footer_web.js"></script>
        </div>
        <script>
            $(document).ready(function () {
                $('.buoihoc, .bh').click(function () {
                    var $this = $(this);
                    if ($this.hasClass('buoihoc')) {
                        if ($(this).css("background-color") == "rgb(0, 128, 0)") {
                            $(this).css("background-color", "#fff");
                            $(this).find("input").attr("checked", false)
                        } else {
                            $(this).css("background-color", "#008000");
                            $(this).find("input").attr("checked", true)
                        }
                    }else {
                        if ($(this).parent().css("background-color") == "rgb(0, 128, 0)") {
                            $(this).parent().css("background-color", "#fff");
                            $(this).parent().find("input").attr("checked", false)
                        } else {
                            $(this).parent().css("background-color", "#008000");
                            $(this).parent().find("input").attr("checked", true)
                        }
                    }
                });
            });
        </script>
        <script src="/js/web/baidang/thembaidang.js"></script>
</body>

</html>