<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/css/quenmatkhau.css">
</head>
<body>
	<div style="background-color: black;" class="main-quenmatkhau">
		<div class="overlay"></div>
		<div style="padding-top: 190px;" class="quenmatkhau-form">
			<div class="quenmatkhau-content">
				<div class="forget-pass">
					<div class="box-title">Tạo mật khẩu mới</div>
					<a class="popup-dismiss" href="http://127.0.0.1:5500/loggin.html">x</a>
				</div>
				<div th:if="${message != null}">
					<p class="text-warning">[[${message}]]</p>
				</div>
				<div class="forget-pass-form">
				
					<form th:action="@{'/reset_password?token=' +${token}}" method="post"
						id="dasuo-acc-pass" accept-charset="UTF-8">
						<div class="form-itemt">
							<label for="edit-email-phone--2">Nhập mật khẩu mới * </label> <input
								placeholder="Nhập mật khẩu mới" type="password"
								id="edit-email-phone--2" name="password" value="" size="60"
								maxlength="254" class="form-text">
						</div>
						<div class="form-itemt">
							<label for="edit-email-phone--2">Nhập lại mật khẩu mới *
							</label> <input placeholder="Nhập lại mật khẩu mới" type="password"
								id="edit-email-phone--2" value="" size="60" maxlength="254"
								class="form-text">
						</div>
						<input type="submit" id="edit-submit--6" name="op"
							value="Xác nhận mật khẩu" class="form-submit">
					</form>
				</div>
			</div>
		</div>

	</div>
</body>
</html>