<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div id="header">
          <script src="/js/web/components/header_web.js"></script>
        </div>
             <div style="width: 100%;margin-top: 54px; padding: 0px 40px;" class="container">
                 <div class="left-content">
                    <ul id="accordion">
                        <li><a style="color: #ff961e;" href="#"><i class="fas fa-home icon-menu"></i> Trang chủ</a></li>
                        <li>
                            <a href="#"><i class="fas fa-graduation-cap tk-icon icon-menu"></i>  Quản lý yêu cầu <i class="fas fa-chevron-right show-right"></i></a>
                            <ul class="sub-menu">
                                <li><a href="#">Tất cả lớp đã đăng</a></li>
                                <li><a href="#">Đăng yêu cầu tìm gia sư mới</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fas fa-comments icon-menu"></i> Hội thoại và tin nhắn</a></li>
                        <li><a href="#"><i class="fas fa-bell icon-menu"></i> Thống báo</a></li>
                        <li>
                            <a href="#"><i class="fas fa-pen-square icon-menu"></i> Bài viết <i class="fas fa-chevron-right show-right"></i></a>
                            <ul class="sub-menu">
                                <li><a href="#">Đã đăng</a></li>
                                <li><a href="#">Đang soạn</a></li>
                                <li><a href="#">Đã gửi</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"> <i class="fas fa-heart icon-menu"></i>Đã lưu <i class="fas fa-chevron-right show-right"></i></a>
                            <ul class="sub-menu">
                                <li><a href="#">Yêu cầu tìm giáo viên</a></li>
                                <li><a href="#">Giáo viên</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> <i class="fas fa-dollar-sign icon-menu"></i> Lịch sử giao dịch</a></li>
                        <li>
                            <a href="#"><i class="fas fa-flag icon-menu"></i> Thông tin cá nhân <i class="fas fa-chevron-right show-right"></i></i></a>
                            <ul class="sub-menu">
                                <li><a href="#">Sửa thông tin cá nhân</a></li>
                                <li><a href="#">Thay đổi mật khẩu</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fad fa-users-class icon-menu"></i> Lớp <i class="fas fa-chevron-right show-right"></i></a>
                            <ul class="sub-menu">
                                <li><a href="" id="classname"></a></li>
                                <li><a href="" id="classname"></a></li>
                                <li><a href="" id="classname"></a></li>
                                <li><a href="" id="classname"></a></li>
                            </ul>
                        </li>
                    </ul>
                 </div>

                 <div style="height: 500px; margin-bottom: 30px;" class="right-content">
                     <div class="head-block">
                        <h4 style="padding: 10px 8px;width: 182px;color: #fff;background-color: #069d86;font-weight: bold;">XIN CHAO</h4>
                        <hr style="width: 80.2%;opacity: 0.8;float: right;" color="#069d86">
                     </div>
                     
                     <div style="text-align: center; margin-bottom: 30px;" class="body-block">
                         <div style="background-color: #fff; padding: 20px 0;" class="hellouser">
                            <p>Xin chào <span style="color: #069d86; font-weight: 700;font-size: 20px;">Tân Nguyễn !</span></p>
                         
                            <p>Chúng tôi biết bạn có nhiều sự lựa chọn. Cảm ơn bạn đã tin tưởng sản phẩm của chúng tôi !</p>
                         </div>
                         <div style="width: 90%;background-color: #FFF;height: 300px;margin-left: 44px;margin-top: 30px;text-align: center;" class="suluachon">
                            <h2>Các tiện ích</h2>
                             <div class="luachon">
                                 <a class="option" href="#"> Xem Thông tin cá nhân </a>
                             </div>
                             <div class="luachon">
                                <a class="option1" href="#">Lớp học</a>
                            </div>
                            <div class="luachon">
                                <a class="option1" href="#">Gia sư</a>
                            </div>
                            <div class="luachon">
                                <a class="option1" href="#">Nạp tiền</a>
                            </div>
                         </div>

                         
                         
                     </div>

                     
                    
                 </div>
                
             </div>
             
             <hr style="margin-top: 30px;color: #069d86; width: 100%;">
             <div class="last-content">
                 <script src="/js/web/components/httv.js"></script>
             </div>
             <div id="footer">
                <script src="/js/web/components/footer_web.js"></script>
            </div>
      
</body>
</html>