<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Dasuo</title>
</head>

<body>
    <div class="wrapper">
        <div id="header">
            <script src="/js/web/components/header_web.js"></script>
        </div>
        <div style="width: 100%;margin-top: 54px; padding: 0px 40px;" class="container">
            <div class="left-content">
                <script src="/js/web/components/leftmenu.js"></script>
            </div>

            <div style="height: 500px; margin-bottom: 30px;" class="right-content">
                <div class="head-block">
                    <h4 style="padding: 10px 8px;width: 182px;color: #fff;background-color: #069d86;font-weight: bold;">
                        XIN CHÀO</h4>
                    <hr style="width: 80.2%;opacity: 0.8;float: right;" color="#069d86">
                </div>

                <div style="text-align: center; margin-bottom: 30px;" class="body-block">
                    <div style="background-color: #fff; padding: 20px 0;" class="hellouser">
                        <p>Xin chào <span style="color: #069d86; font-weight: 700;font-size: 20px;" id="current-user">[[${ten}]]</span>
                     
                        </p>

                        <p>Chúng tôi biết bạn có nhiều sự lựa chọn. Cảm ơn bạn đã tin tưởng dịch vụ của chúng tôi!</p>
                    </div>
                    <div style="width: 90%;background-color: #FFF;height: 300px;margin-left: 44px;margin-top: 30px;text-align: center;"
                        class="suluachon">
                        <h2>Các tiện ích</h2>
                        <div class="luachon">
                            <a class="option" href="/taikhoan/trangcanhan"> Xem Thông tin cá nhân </a>
                        </div>
                        <div class="luachon">
                            <a class="option1" href="/hienthilichlop">Lớp học</a>
                        </div>
                        <div class="luachon">
                            <a class="option1" href="/giasuonline">Gia sư</a>
                        </div>
                        <div class="luachon">
                            <a class="option1" href="#">Nạp tiền</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin-top: 30px;color: #069d86; width: 100%;">
        <div class="last-content">
            <script src="/js/web/components/httv.js"></script>
        </div>
        <div id="footer">
            <script src="/js/web/components/footer_web.js"></script>
        </div>
    </div>
</body>

</html>