<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>up bài kiểm tra</title>
</head>
<body>
	<div style="background-color: #f7f7f7;" class="wrapper">
		<div id="header">
			<script src="/js/web/components/header_web.js"></script>
		</div>
		<div style="width: 100%; margin-top: 54px; padding: 0px 40px;"
			class="container">
			<div class="left-content">
				<script src="/js/web/components/leftmenulop.js"></script>
			</div>
			<div style="height: 500px;" class="right-content">
				<div class="head-block">
					<h4
						style="padding: 10px 8px; width: 182px; color: #fff; background-color: #069d86; font-weight: bold;">SOẠN
						BÀI KIỂM TRA</h4>
					<hr style="width: 80.2%; opacity: 0.8; float: right;"
						color="#069d86">
				</div>
				<div th:class="@{${alert} + '-alert-linh2'}">
                    <span class="closebtn-linh"
                        onclick="this.parentElement.style.display='none';">&times;</span> <strong>[[${message}]]</strong>
                </div>
				<div class="body-block">
					<form th:action="@{'/upbaikt?id=' + ${lopId}}" id="update-profile-form" action=""
						method="POST" modelattribute="baikiemtra"
						enctype="multipart/form-data">
						<div class="info-step-1">

							<div style="width: 100%;" class="col-md-1">
								<label for="">TIÊU ĐỀ</label> <span class="teacher-alert">*</span><br>
								<input type="text" name="tieuDe" title="Please enter your First Name" required="">
							</div>

							<div style="width: 100%;" class="col-md-1">
								<label for="hannap">HẠN NẠP</label> <span class="teacher-alert">*</span><br>
								<input type="datetime-local" id="hannap" name="date" title="Please enter your First Name" required="">

							</div>

							<div style="width: 100%;" class="col-md-1">
								<label for="">NHẬP BÀI KIỂM TRA</label> <span
									class="teacher-alert">*</span><br>
								<textarea placeholder="Vui lòng nhập đề bài kiểm tra..."
									name="noiDung" id="mo-ta-ban-than" cols="30" rows="6 auto"></textarea>

							</div>
							<div style="width: 100%;" class="col-md-1">
								<label for="">OR</label> <span class="teacher-alert">*</span><br>
								<input style="color: #069d86; padding: 10px 0;" type="file"
									id="" name="document">
							</div>
							<hr>
							<!-- Style lai button gui  -->
							<input type="submit" class="submit-de-kt">
						</div>
					</form>
				</div>
			</div>

		</div>
</body>
</html>