<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <title>dasuo hasaghi masenjo</title>
</head>
<body>
    <div class="wrapper">
        <div id="header">
            <div class="logo">
                <a href="#">
                    <img src="/img/logo.PNG" alt="dasuo-logo">
                 </a>
     
            </div>
            <div class="menu-top">
             <ul id="nav">
                 <li><a href="#">Đăng yêu cầu</a></li>
                 <li><a href="#">Lớp mới</a></li>
                 
                 <li>
                     <a href="#">Gia sư <i class="fas fa-caret-down icon-down"></i></a>
                     <ul class="subnav">
                         <li><a href="http://127.0.0.1:5500/taobaidang.html">Yêu cầu tìm gia sư</a></li>
                         <li><a href="#">Gia sư online</a></li>
                         <li><a href="#">Trở thành gia sư</a></li>
                     </ul>
                 </li>
                 <li class="right-side"><a href="#">Hello</a></li>
             </ul>
             </div>
                 
             </div>
             
         
            
         </div>

         <div style="background-color: #f7f7f7" id="wrapHeadBlock">
             <div class="user-container">
                 <section class="profile-cover" style="position: relative;">
                    <div class="cover">
                        <input style="opacity: 0;" type="file"  name="edit_cover" class="inputfile_avt" id="edit_cover">
                         <label style="float: right; margin-top: 150px;color: #fff;background-color: #483f34;margin-right: 15px;opacity: 0.8;;padding: 8px 15px;" for="edit_cover"><svg  xmlns="http://www.w3.org/2000/svg"  width="20" height="17" viewBox="0 0 20 17">
                            <i class="fas fa-upload"></i>                       
                            </svg> <span >Upload…</span></label>
                 </div>
                 </section>
                 
                 <section class="infor-main" style="width: 100%;height: 210px;">
                     <div class="avatar" style="position: absolute;top:-100px; margin-left: 15px;padding-top: 400px;">
                      
                         <img  src="/img/infor.png" alt="">
                     </div>
                     <div class="name-user">
                        <button style="margin-right: 20px;color: #fff;border: none;border-radius: 4px;background-color: #1877f2; float: right;padding:8px 16px;cursor: pointer;font-weight: bold;" type="submit"><i style="margin-right: 2px;" class="fab fa-facebook"></i>Share</button>
                         <h6 style="margin-bottom: 30px ;margin-top: 20px;margin-left: 210px;color: #069d86;font-size: 18px;">Tân Nguyễn <a style="color: #069d86;margin-left: 4px;" href="http://127.0.0.1:5500/gg.html"><i class="fas fa-file-signature"></i></a></h6>
                         
                     </div>
                     <hr style="width: 84%;opacity: 0.8;;float: right;" >
                     <i style="margin-bottom: 10px;margin-top: 10px;margin-left: 200px;" class="fas fa-book"></i>
                     <hr style="width: 83%;opacity: 0.8;;float: right;" >
                     <div>
                        <p style="width: 200px;;margin-left: 200px;color:#069d86 ;margin-top: 10px;"><i class="fas fa-map-marker-alt"></i> Đà Nẵng</p>
                        <span>
                            <p style="font-weight: bold;margin-top: -17px;width: 350px;margin-left: 500px;"><i style="font-size: 20px;margin-right: 2px;" class="fas fa-briefcase"></i>Hình thức dạy: chưa xác định</p>
                           </span>
                     </div>
                     <hr style="margin-top: 10px;margin-bottom: 16px;width: 83%;opacity: 0.8;;float: right;" >
                     <a style="text-decoration: none;margin-left: 200px;margin-top: 300px;background-color: #ff961e;border: none;border-radius: 3px;padding: 10px 10px;;color: #fff;" href="#">Tìm lớp dạy</a>
                     
                    </section>
                    <div style="margin-top: 20px;" class="user-decription">
                        <h4 style="padding: 8px 8px;width: 182px;color:#ffF;font-weight: bold;background-color: #069d86;">THÔNG TIN GIA SƯ</h4>
                        <hr style="width: 84%;opacity: 0.8;;float: right;" color="#069d86">
                        <p style="margin-top: 20px;font-weight: bold;">Giới thiệu chung và kinh nghiệm gia sư, giảng dạy</p><br>
                        <p style="font-weight: bold;margin-bottom: 15px;">Gia sư đang là</p>
                    </div>
                    <div style="width: 100%;height: 400px;" class="schedule">
                        <h4 style="padding: 8px 8px;width: 182px;color: #fff;background-color: #069d86;font-weight: bold;">LỊCH DẠY GIA SƯ</h4>
                        <hr style="width: 84%;opacity: 0.8;;float: right;" color="#069d86">
                        <div style="text-align: center; height: 200PX;" class="schedule-detail">
                            <div class="llll">
                                <h3>Thứ 2</h3>
                                <ul>
                                    <li>Sáng </li>
                                    <li>Chiều</li>
                                    <li>Tối</li>
                                </ul>
                            </div>
                            <div  class="llll">
                                <h3>Thứ 3</h3>
                                <ul>
                                    <li>Sáng </li>
                                    <li>Chiều</li>
                                    <li>Tối</li>
                                </ul>
                            </div>
                            <div  class="llll">
                                <h3>Thứ 4</h3>
                                <ul>
                                    <li>Sáng </li>
                                    <li>Chiều</li>
                                    <li>Tối</li>
                                </ul>
                            </div>
                            <div  class="llll">
                                <h3>Thứ 5</h3>
                                <ul>
                                    <li>Sáng </li>
                                    <li>Chiều</li>
                                    <li>Tối</li>
                                </ul>
                            </div>
                            <div  class="llll">
                                <h3>Thứ 6</h3>
                                <ul>
                                    <li>Sáng </li>
                                    <li>Chiều</li>
                                    <li>Tối</li>
                                </ul>
                            </div>
                            <div  class="llll">
                                <h3>Thứ 7</h3>
                                <ul>
                                    <li>Sáng </li>
                                    <li>Chiều</li>
                                    <li>Tối</li>
                                </ul>
                            </div>
                            <div  class="llll">
                                <h3>Chủ nhật</h3>
                                <ul>
                                    <li>Sáng </li>
                                    <li>Chiều</li>
                                    <li>Tối</li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="img-teacher">
                            <h4 style="padding: 8px 8px;width: 182px;color: #fff;background-color: #069d86;font-weight: bold;">HỈNH ẢNH GIA SƯ</h4>
                        <hr style="width: 84%;opacity: 0.8;;float: right;" color="#069d86">
                        <p style="margin-left: 8px;width: 100%; margin-top: 20px;color: #069d86;">Upload ảnh giới thiệu về bản thân hoặc mô tả các chương trình học...</p> <br>
                        <p style="color: #069d86;margin-left: 8px;" >Chưa có hình ảnh nào để hiển thị</p>
                        <div style="background-image: none; height: 100px;" class="cover">
                            <input style="opacity: 0;" type="file"  name="edit_cover" class="inputfile_avt" id="edit_cover">
                             <label style="float: left;font-weight: bold;color: #069d96;background-color: #fff;margin-right: 15px;border: 2px solid #069d86;border-radius: 3px;padding: 8px 15px;" for="edit_cover"><svg  xmlns="http://www.w3.org/2000/svg"  width="20" height="17" viewBox="0 0 20 17">
                                <i class="fas fa-upload"></i>                       
                                </svg> <span >Upload file…</span></label>
                     </div>
                        </div>
                        
                    </div>
                  
                    
             
         </div>
         <hr style="margin-top: 30px;color: #069d86; width: 100%;">
           <div class="last-content">
               <h2 >Hỗ trợ & tư vấn</h2>
               <div class="btn-last-content">
                   <a href="" class="support1"><i class="fas fa-phone-alt"></i> Hotline: 0353312340</a>
                   <a href="" class="support2 "><i class="fas fa-envelope"></i> nguyenminhtan2340@gmail.com</a>
                   <a href="" class="support3"><i class="fas fa-comment-dots"></i> Tư vấn trực tuyến</a>
               </div>
               <h2>Đăng ký nhận tin & kết nối</h2>
               <div class="email-dk">
                   <p>Đăng ký email để nhận tin mới nhất từ Dasuo.</p>
                   <input placeholder="Email" type="text" id="edit-mail" name="mail" value="" size="20"  maxlength="128" class="form-text required">
                   <a href="#" class="btn-email">Đăng ký</a>
               </div>
               <div class="public">
                   <p>Cộng đồng hơn 15,000 thành viên đang chờ bạn</p>
                   <a href="#" target="_blank" class="facebook" rel="nofollow"><i class="fab fa-facebook-square"></i></a>
                   <a href="#" target="_blank" class="twitter" rel="nofollow"><i class="fab fa-twitter-square"></i></a>
                   <a href="#" target="_blank" class="youtube" rel="nofollow"><i class="fab fa-youtube-square"></i></a>
                   <a href="#" target="_blank" class="google-plus" rel="nofollow"><i class="fab fa-google-plus-square"></i></a>
               </div>
           </div>
           <div id="footer">
            <div class="footer-tke">
                <h3>Thống kê</h3>
                <ul>
                    <li>
                        <strong>5000+</strong>
                        "gia sư"
                    </li>
                    <li>
                        <strong>15000+</strong>
                        "người dùng"
                    </li>
                    <li>
                        <strong>9.500+</strong>
                        "yêu cầu tìm gia sư"
                    </li>
                    <li>
                        <strong>97%</strong>
                        "Người dùng hài lòng"
                    </li>
                </ul>

            </div>
            <div class="mxh">
                <h3>Mạng xã hội</h3>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
                    <li><a href="#"><i class="fab fa-youtube-square"></i>Youtube</a></li>
                    <li><a href="#"><i class="fab fa-google-plus"></i>Google +</a></li>
                </ul>
            </div>
            <div class="fan">
                <h3>Fanpage</h3>
                <a href="https://www.facebook.com/Dasuo-Li%C3%AAn-k%E1%BA%BFt-gia-s%C6%B0-tr%E1%BB%B1c-tuy%E1%BA%BFn-103659921831108"  target="_blank"><img src="/img/fanpage.PNG" alt=""></a>
            </div>
            <div class="mmm">
                <hr style="width: 92%;border-width: 1px; margin-left: 55px;margin-top: 2px;">
                <div>
                    <h4 >Bạn đang muốn</h4>
                    <ul>
                        <li><a href="#">Đăng yêu cầu tìm gia sư</a></li>
                        <li><a href="#">Xem danh sách gia sư</a></li>
                        <li><a href="#">Góp ý cho Dasuo</a></li>
                    </ul>
                </div>
                <div>
                    <h4 >Danh mục gia sư</h4>
                    <ul>
                        <li><a href="#">Gia sư toán</a></li>
                        <li><a href="#">Gia sư tiếng anh</a></li>
                        <li><a href="#">Gia sư online</a></li>
                        <li><a href="#">Gia sư ngoại ngữ</a></li>
                    </ul>
                </div>
                <div>
                    <h4 >Dasuo</h4>
                    <ul>
                        <li><a href="#">Về chúng tôi</a></li>
                        <li><a href="#">Quy định MXH Dasuo</a></li>
                        <li><a href="#">CC bảo mật thông tin</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
                <div>
                    <h4 >Hỗ trợ</h4>
                    <ul>
                        <li><a href="#">Hướng dẫn sử dụng</a></li>
                        <li><a href="#">Mời bạn bè</a></li>
                        <li><a href="#">Khiếu nại</a></li>
                    </ul>
                </div>
                <div>
                    <h4 >Dành cho gia sư</h4>
                    <ul>
                        <li><a href="#">Trở thành gia sư</a></li>
                        <li><a href="#">Danh sách lớp mới</a></li>
                        <li><a href="#">Hướng dẫn cho gia sư</a></li>
                        <li><a href="#">Chính sách phí</a></li>
                    </ul>
                </div>
            </div>
            <div class="home-last-footer">
                <hr style="width: 92%;border-width: 1px; margin-left: 55px;margin-top: 2px;">
                <div class="information">
                    <p>© 2020 - 2021 Tổ chức giáo dục Dasuo Việt Nam <br>

                        Trụ sở: Số 78 Điện Biên Phủ, Quận Thanh Khê, Đà Nẵng <br>
                        Giấy phép ĐKKD số 0107721396 do Sở kế hoạch và đầu tư thành phố Đà Nẵng cấp ngày 09/02/2021</p>
                </div>
            </div>
            
        
            </div>
    </div>
    
</body>
</html>
