*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#header{
    width: 100%;
    height: 54px;
    background-color: #069d86;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 9;
    display: flex;
}
h2.text-logo {
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
	font-family: 'Monoton', cursive;
    margin-left: 47px;
    line-height: 54px;
}
/* css cho header-menu-icon */
.header-menu-icon{
    line-height: 54px;
    margin-left: 20px;
}

.icon-bar{
    color: #fff;
    font-size: 30px;
}
/* css cho header-menu-icon */
.flex-row-nowrap ul li{
    width: 43%;
    line-height: 54px ;
 
    list-style: none;
}
.menu-top{
   
    width: 450px;
}
#nav > li >a{
    padding-left: 30px;
    color:white;
}

.menu-top li a{
    padding: 0px 15px;
    line-height: 54px;
    text-decoration: none;
    float: left;
  
}
#nav > li:hover > a{
    color: black;
    background-color: #CCCCCC;
}
#nav li:hover .subnav{
    display: block;
}
.btn-dk-dn {
    margin-left: 560px;
    width: 220px;
    float: right;
    line-height: 54px;
    padding-right: 40px;
    
}
.btn-dk-dn a{
    color: white;
    text-decoration: none;
    padding-left:15px;
    font-size: 13px;
}

.btn-dk-dn #btn-dk:hover,.btn-dk-dn #btn-dn:hover {
    color:yellow;
}

#nav li{
    display: inline-block;
    position: relative;
}
#nav .subnav{
    display: none;
   position: absolute;
   width: 200px;
   top: 55px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    

}
.container{
    width: 100%;
    margin-top: 54px;
    padding: 0px 40px;
}
#nav .subnav a {
    color: black;
    }
#nav .subnav li:hover  {
    color: black;
    background-color: #CCCCCC;
}
#nav .subnav li {
    width: 100%;
}
.slidershow{
    margin-top:55px;
    width: 100%;
    height: 600px;
    position: relative;
}
.slidershow .slides img{
    width: 100%;
    height: 600px;
}
.slides{
    width: 100%;
    height: 600px; 
    overflow: hidden;
}
.slide{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    
}
 .active{
    opacity: 1;
    visibility: visible;
}

.btn-slide{
    color: white;
    font-size: 60px;
    opacity: 0.6;
}
 #btn-pre{
    position: absolute;
    top:37%;
    left: 0;
    z-index: 10;
    cursor: pointer;
}
 #btn-next{
    position: absolute;
    top:37%;
    right: 0;
    z-index: 10;
    cursor: pointer;
}
.btn-slide ul{
    position: absolute;
    z-index: 10;
    width: 100px;
    bottom:10%;
    left: 50%;
    margin-left: -50px;
    display: flex;
    justify-content: space-between;
}
.btn-slide ul li{
    width: 20px;
    height: 20px;
    background: white;
    opacity: 0.6;
    list-style: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6;
}
#content1{
    width: 100%;
    height: 88px;
    color: #f7f7f7;
    text-align: center;
    margin-top: 20px;
    height: 130px;
}
#content1 .thong-ke{
    width: 33.333%;
    float: left;
}
#content1 .thong-ke i{
    color: darkturquoise;
    font-size: 35px;
    margin-top: 25px;
}
#content1 .thong-ke .tk-icon:hover{
    color: #ff961e;
}
#content1 .thong-ke a{
    color: black;
    text-decoration: none;
}
#content1 .thong-ke #kcn{
   
    margin-left: 46px;
    
}


.main-content{
    width: 100%;
    height: 700px;
    padding: 50px 0;
    background-color: #EEEEEE;
}
.main-content .heading, .main-content .sub-heading{
    margin-bottom: 12.5px;
    margin-left: 55px;
}
.main-content .hr-hr{
    width: 100px;
    margin-left: 55px;
    margin-bottom: 12.5px;
    border-width: 3px;
}
.main-content .menu-monhoc ul{
    display: flex;
    list-style: none;
    margin-left: 55px;
    text-decoration: none;
    color: black;
}
.menu-monhoc ul li{
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}
.menu-monhoc ul li a{
    text-decoration: none;
    color: black;
}
.inf-giasu{
    width: 100%;
    height: 460px;
    margin-bottom: 60px;
}
.inf-giasu .gia-su{
    margin-top: 20px;
    margin-left:20px;
    width: 280px;
    height: 430px;
    background-color:white;
    box-shadow: whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    float: left;
    text-align: center;
}
.inf-giasu .gia-su .name-gia-su{
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}
.inf-giasu .gia-su {
    text-decoration: none; 
    color: black;
    cursor: pointer;
}
.gia-su .name-gia-su:hover{
    color:teal;
}
.inf-giasu .gia-su .address{
    text-align: center;
    opacity: 0.6;
    margin-bottom: 15px;
}

.gia-su .btn-md{
   float: right;
   font-size: 15px;
   cursor: pointer;
   padding:5px 5px;
   border-radius:5px ;
   margin-top: 20px;
   margin-right: 10px;
}
.gia-su .btn-md:hover{
    background-color:darkorange;

}
 .see-more{
    float: right;
    margin-right: 55px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 52px;
}
.see-more:hover{
    color: darkorange;
}

.main-content .sub-content{
    width: 100%;
    height: 260px;
    text-align: center;
}
.main-content .sub-content .request{
    width: 40%;
    float: left;
    margin-left: 123px;
    margin-top: 45px;
    
}
.main-content .sub-content .become{
    width: 40%;
    float: left;
    margin-top: 45px;
}
.main-content .sub-content .h3-sub-content{
    margin-bottom: 16px;
}
.main-content .sub-content a{
    margin-top: 25px;
}
.main-content .sub-content p{
    line-height: 22px;
}
.main-content .sub-content .btn-request{
    margin-top: 25px;
    box-sizing: border-box;
    font-size: 15px;
}
.main-content .sub-content a{
    text-decoration: none;
    background-color: #fca40d;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
}
 .last-content h2{
    margin-top: 20px;
    margin-left: 115px;
    
}
 .btn-last-content{
    padding: 15px 120px;
}

 .btn-last-content .support1,
 .support2,
 .support3{
     margin-right: 40px;
    padding: 0 30px;
    font-size: 25px;
    text-decoration: none;
    color: #fca40d
}
 .btn-last-content .support2{
    color: green;
}
 .btn-last-content .support3{
    color: blue;
}
 .btn-last-content .support1:hover{
    background-color:#069d86 ;
    border-radius: 5px;
    padding: 15px 32px;
    
}
 .btn-last-content .support2:hover{
    background-color:black ;
    border-radius: 5px;
    padding: 15px 32px;
    
}
.btn-last-content .support3:hover{
    background-color:black ;
    border-radius: 5px;
    padding: 15px 32px;
    
}
.last-content {
    width: 100%;
    height: 314px;
}
.last-content .email-dk{
    width: 35%;
    float: left;
    margin-left: 114px;
}
.last-content .public{
    width: 50%;
    float: left;
    margin-left: 80px;
}
.last-content p{
    margin-bottom: 10px;
}
.last-content .form-text {
   padding: 11px 30px;
}
.last-content .btn-email{
    text-decoration: none;
    padding: 11px 20px;
    border-radius: 5px;
    color: white;
    background-color: black;
}
.last-content .facebook,.twitter, .youtube, .google-plus{
    padding: 5px;
    font-size: 50px;
    color: blue;
}
.last-content .twitter{
    color: #73bcf4;
}

.last-content .youtube{
    color: red;
}

.last-content .google-plus{
    color:red ;
}
#footer{
    width: 100%;
    height: auto;
    background-color: #069d86;
}
.footer-color{
    background-color: #069d86;
}
#footer .footer-tke{
    width: 26%;
    margin-left: 65px;
    float: left;
    height: 200px;
}
#footer .footer-tke h3{
    padding: 10px 0;
    color: white;
}
#footer .footer-tke li{
    list-style: none;
    padding: 10px 0px;
    border-top: 1px solid #ccccccb5;
    color: white;
    left: 0px;
}
#footer .fan{
    width: 30%;
    height: 300px;
    float: right;
   
}
#footer h3 {
    padding: 10px 0px;
    color: white;
}
#footer img{
    width: 300px;
    height: 160px;
}
#footer .mxh{
    width: 20%;
    float: left;
    margin-left: 230px;
}
#footer li{
    list-style: none;
    padding: 10px 0px;
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer i{
    
    margin-right: 10px;
}
 .mmm{
    width: 100%;
    height: 230px;
    background-color: #069d86;
    float: left;
}
.mmm div{
    width: 15%;
    float: left;
    margin-top: 15px;
    margin-left: 55px;
}
.mmm div h4{
    color: white;
}
.home-last-footer{
    width: 100%;
    height: 620px;
    background-color:#069d86 ;
}
.home-last-footer .information{
    width: 50%;
    margin-top: 15px;
    margin-left: 55px;
    margin-bottom: 20px;
}
.home-last-footer .information p{
    color: white;
    font-size: 13px;
    line-height: 17px;
   
}
#header .search{
    width: 20%;
    height: 40px;
    float: right;
    color: #fff;
    margin-right: 500px;
    line-height: 54px;
    
}
#header .search .search-box{
    box-sizing: border-box;
    height: 30px;
    border-radius: 3px;
    width: 230px;
    border: none;
}
#header .search button{
    display: inline-block;
    background-color: #eaeaea;
    font-size: 15px;
    text-shadow: 1px 1px 1px #ccc;
    border: none;
    padding: 6px 10px;
    margin-top: 10px;
    
    
}
#header .home-logged{
    width: 20%;
    float: right;
    margin-right: 0px;
}
#header .home-logged img{
    width: 20px;
    height: 20px;

}






#wrapHeadBlock .user-container{
    width: 84%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}
#wrapHeadBlock .user-container .cover{
    width: 100%;
    height: 350px;
    margin-top: 54px;
    background-image:url("../img/cover01.jpg");
    
}
#wrapHeadBlock .user-container .cover button{ 
    border: none;
    
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding: 12px 28px;
    opacity: 0.8;
    float: right;
    margin-top: 150px;
    margin-left: 10px;
    cursor: pointer;
   
}
.llll{
    float: left;
    padding: 20px 30px;
    text-align: center;
}
.llll h3{
    margin-bottom: 10px;
    font-size: 16px;
}
.llll ul{
    text-align: center;
    padding: 0 !important;
    width: 100%;
}
.llll li{
    list-style: none;
    padding: 5px 25px;
    margin-bottom: 10px;
    color: #9e9d9d;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
}





/* css cho sua thông tin */
body{
    background-color: #f7f7f7;
}
.container .left-content{
    width: 23%;
    float: left;
    margin-top: 20px;
    border-radius: 4px;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 31px;
}
.container .left-content ul{
    text-decoration: none;
    list-style: none;
    position: relative;
}

.container .left-content a{
    text-decoration: none;
    
    font-size: 14;
    font-weight: 700;
    padding: 15px 15px 15px 30px;
    color: black;
    display: block;
    cursor: pointer;
    border-bottom:1px solid rgba(0, 0, 0, 0.3);
    
}
.left-content #accordion ul li  {
    position: relative;
}
.left-content ul li:hover{
    background-color: #b2b2b2;
}
.container .left-content .sub-menu{
    position: absolute;
    background-color: #fff;
    height: auto;
    left: 295px;
    padding: 8px 0;
    width: 300px;
    border-bottom:1px solid rgba(0, 0, 0, 0.3);
    margin-top: -56px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px ;
    z-index: 10;
    display: none;
}
.left-content ul li:hover .sub-menu {
    display: block;
}

.icon-menu{
    margin-right: 8px;
    font-size: 20px;
    padding: 0 0;
}
.show-right{
    font-size: 20px;
    float: right;
}

/* css cho nav-mobile-tablet */
.nav_mobile_Tablet{
    position: fixed;
    background-color: #fff;
    padding: 12px 12px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    z-index: 10;
   
}

.mobile_tablet_menu{
    display: none;
}
#nav-mobile-tablet-list{
    list-style: none;
    
}   
.nav-mobile-tablet-link{
   
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: block;
    padding: 15px 15px 15px 0px;
    font-weight: 700;
    color: black;
}
#nav-mobile-tablet-list li{
    position: relative;
}
.sub-menu-mobile-tablet{
    position: absolute;
    display: none   ;
    background-color: #fff;
    padding: 12px 12px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    z-index: 10;
    margin-left: 247px;
    width: 236px;
    margin-top: -50px;
}
 #nav-mobile-tablet-list li :hover .sub-menu-mobile-tablet{
    display: block;
}
.sub-menu-mobile-tablet li{
     list-style: none;
     padding:10px 0;
}
.nav-input:checked ~ .mobile_tablet_menu{
    display: block;
}
.nav-input:checked ~ .closed_item{
    display: none;
}

/* css cho nav-mobile-tablet */

/* css cho menu-top-mobile-tablet */
.menu-header-moblie-tablet{
    width: 156px;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: -45px;
    padding: 0px 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    display: none;
    margin-top: 54px;
}
#nav_header_mobile_tablet_list{
    list-style: none;
}
#nav_header_mobile_tablet_list li{
    padding: 10px 0;
}
.nav-input:checked ~ .menu-header-moblie-tablet{
    display: block;
}

/* css cho menu-top-mobile-tablet */

/* css cho menu-top-dkgs-mobile-tablet */
.nav__overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.menu-top-mobile-tablet{
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 90%);
    height: 1024px;
    width: 350px;
    text-align: center;
    display: none;
}
#nav_dkgs_mobile_Tablet_list{
    list-style: none;
    margin-top: 40px;

}
#nav_dkgs_mobile_Tablet_list li{
    font-weight: 700;
    padding: 20px 0;
}
.dkgs_mobile_link{
    color: #069d86;
}
.color_btn{
    background-color: #fca40d;
    padding: 8px 16px;
    border-radius: 4px;
    color: #fff;
}
.nav-input:checked ~ .menu-top-mobile-tablet{
    display: block;
}
.nav-input:checked ~ .nav__overlay{
    display: block;
}

/* css cho menu-top-dkgs-mobile-tablet */






/* css cho right-content */
.right-content{
    width: 72%;
    float: left;
    background-color:#f7f7f7;
    height: 1100px;
    margin-left: 8px;
    margin-top: 20px;
    font-family: sans-serif;
   
}

.body-block .col-md-1 label{
    margin-bottom: 10px 0;
    font-size: 16px;
    font-weight: 400 !important;
    color: #868585;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
}

.body-block .col-md-1 input{
    width: 100%;
    padding: 8px 5px;
    border-radius: 3px;
}

.radio-calendar{
   float: right;
   display: none;
}
.teacher-alert{
    color: red;
    font-size: 12px;
    font-weight: 700;
}

.col-md-1{
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
    float: left;
    padding: 12px;
}

.mo-ta .col-md-12{
    width: 100%;
    margin-top: 180px;
}
.right-content label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-left: 8px;
    color: #a58585;
}

.mo-ta .col-md-12 textarea{
    width: 96%;
    font-size: 16px;
    padding:5px 5px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    border: 1px solid red;
}


#type_teacher_field{
    max-width: 300px;
    padding: 6px 0;
    margin-left: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 120px;
}
.missing-value{
    padding: 6px 0px;
    margin-left:8px ;
    padding-right: 74px;
    padding-left: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
}
#select-subject{
    padding: 8px 30px;
    margin-left: 8px;
}
.row-calendar-check{
    width: 120px;
    padding: 4px 8px;
    text-align: center;
    float: left;
    flex-direction: column;
}
.row-calendar-check ul{
    list-style: none;
    margin-top: 8px;
}
.row-calendar-check ul li{
    padding: 8px 8px;
    border: 1px solid black;
    margin-bottom:8px ;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
}
.row-calendar-check label{
    position: relative;
}

.row-calendar-check .radio-calendar{
    
    cursor: pointer;
}

.note-calender{
    text-align: center;
    color: coral;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 16px;
}
.action-form{
    text-align: center;
}
.bnt-cap-nhat{
    background-color: #069d86;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


/* css cho tạo bài đăng */

.p-create-class-body .left-form{
    width: 67%;
    height: auto;
    background-color: #fff;
    float: left;
}

.p-create-class-body .right-form{
    width: 22%;
    height: 1000px;
   background-color: #f7f7f7;
    float: left;
    margin-left: 16px;
}
.header-form{
    color: #fff;
    background: #069d86;
    padding: 12px 18px 15px
}
.class-field{
    padding: 16px 10px;
    
}
.btn-border-only {
    text-decoration: none;
    border: 1px solid #069d86;
    color: #069d86;
    border-radius: 5px;
}
.p-create-class-title{
    font-weight: 500;
    margin-top: 16px;
    color: #069d86;
    font-size: 20px;
}
#tomtatyc{
    width: 100%;
    height: 35px;
    border: .5px solid #ccc;
    margin-top: 16px;
    padding: 0px 6px;
}
.col-md-6{
    width: 50%;
    padding: 0 10px;
}
#monhoclinh{
    margin-top: 16px;
    padding: 10px 0;
    padding-right: 220px;
}

.group-row .col-md-6{
    width: 50%;
    margin-bottom:8 px;
    float: left;
}
.group-row .col-md-6 .numberOnly{
    padding: 10px 8px;
    padding-right: 220px;
    margin-top: 16px;
}
.row .class-time label{
    margin-right: 12px;
    font-weight: bold;
}
.row .class-time input{
    margin-top: 16px;
    
}



/*css cho .right-form  */

.checked-icon{
    margin-left: 48%;
    margin-right: 50%;
    padding: 16px 0;
    font-size: 30px;
    color: #069d86;
    font-weight: bold;
}
.right-class-new-top{
    border: 1px solid #069d86;
    background-color: #fff;
}
.right-class-new-top .right-class-new-top-content h4{
    font-size: 18px;
    line-height: 1.5;
    color: #069d86;
    text-align: center;  
}


.right-class-new-top-content{
    background: #fff;
   
    padding: 10px;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 15px;
}
 p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} 
.right-class-new-content{
    text-align: center;
    margin-top: 24px;
}
.right-class-new-content h3{
    font-size: 18px;
    color: #ff961e;
    font-weight: 500;
    line-height: 1.1;
}
.right-class-new-content span{
    color: #ff961e;
    font-size: 20px;
    font-weight: 700;
}
.right-class-new-content h4{
    font-size: 18px;
    color: #ff961e;
    font-weight: 500;
    margin-bottom: 12px;
}
.right-class-new-content .right-class-step2 p{
    line-height: 24px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 10px;
}

/* css cho chat */

.right-content .right-conttent1{
    width: 70%;
    height: 614px;
    background-color: #fff;
    margin-top: 24px;
    float: left;
}


.right-content .right-conttent2{
    width: 28%;
    height: 500px;
    background-color: #fff;
    margin-top: 24px;
    margin-left: 15px;
   float: left;
}
.view-content h3{
    font-size: 14px;
    padding: 8px 20px;
}
.enter-chat{
    width: 95%;
    padding: 8px 8px;
    margin-top:240px ;
    margin-left: 13px;
}






/* css trang đỗi mật khẩu */
.container.main-content{
    width: 100%;
   
    height: auto;
}
.region-content{
    max-width: 94%;
    
    margin: 0 auto;
}
.dasuo-account-change-email, .Dasuo-account-change-pass{
    padding-top: 15px;
    font-size: 14px;
    font-weight: 700;
}
.dasuo-account-change-email span , .Dasuo-account-change-pass span{
    display: inline-block;
    padding: 6px 40px 6px 10px;
    background: #fff;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
#dasuo-account-change-email-content, #dasuo-account-change-pass-content{
    padding-top: 50px;
    background-color: #fff;
    height: 400px;
    font-size: 20px;
}
.custom-form{
    padding: 20px;
}
.custom-form .form-item {
    margin-bottom: 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
#edit-mail{
    padding: 6px 5px;
    width: 100%;
    margin-bottom: 20px;
}
.region-content #edit-submit , #edit-submit--2{
    background-color: #069d86;
    color: #fff;
    padding: 6px 8px ;
    border-radius: 4px;
}

.Dasuo-account-change-pass{
    padding-top: 15px;
    font-size: 14px;
    font-weight: 700;
}

.custom-form .form-item {
    margin-bottom: 15px;
}
#edit-pass , #edit-re-pass{
    padding: 6px 5px;
    width: 100%;
}

/* css cho trang tìm kiếm */
.home-category {
    height: 1300px;
    clear: both;
    overflow: hidden;
    margin-top: 54px;
}
.view-user-page2-view-header {
    border-bottom: 1px solid #069d86;
    font-size: 16px;
    color: #069d86;
    margin-top: 10px;
}
.view-user-page2-view-header span {
    display: inline-block;
    padding: 6px 40px 6px 10px;
    background: #069d86;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.view-user-page2-filter {
    margin-bottom: 10px;
}

.content-category .header-block {
    clear: both;
    background-color: rgba(6,157,134,0.85);
    padding-bottom: 24px;
    padding-right: 12px;
    margin-bottom: 10px;
    border-bottom: 5px solid #b2b2b2;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.content-category .nav-tabs>li.active>a {
    background-color: #fff;
    color: #069d86;
    border-top: none;
    border-left: none;
    border-right: none;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.danh-sach-gia-su .inf-giasu .gia-su{
    margin-left: 31px;
    margin-bottom: 30px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination a.active {
    background-color: orange;

    color: white;
  }

/* css cho trang up bài kiểm tra */

textarea{
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    line-height: 20px;
}

.col-md-1 .chon-tep-kt{
    padding: 100px 10px ;
}

.submit-de-kt{
    margin-left: 16px;
    margin-top: 10px;
    padding: 6px 10px;
    background-color: #069d86;
    border-radius: 3px;
}



/* css cho hiện bài đăng */
.creator-name{
    margin-top: -6px;
}
.bg-gradient-pink{
    background-color: #fff;
}
.creator-name a{
    text-decoration: none;
    color: black;
    
}
.mota-baidang{
    width: 48%;
}

.bai-dang{
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mota-baidang h2{
    margin-top: 14px;
    font-size: 16px;
    color: black;
}
.mota-baidang h2:hover{
    color: #069d86;
}
.para-mota{
    margin-top: -8px;
}
.para-mota p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
}

/* slider */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
  margin-top: 55px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}




/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.fade img{ 
    width: 100%;
    height: 450px;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* css cho trang hiện lịch lớp học online */
.container{
    width: 100%;
    margin-top: 54px; 
    padding: 0px 40px;
}
.menu-tren{
    margin-left: 36px;
}
.right-content .head-block h4{
    padding: 10px 8px;
    width: 182px;
    color: #fff;
    background-color: #069d86;
    font-weight: bold;
}
.right-content .head-block hr{
    width: 80.2%;
    opacity: 0.8;
    float: right;
    color:#069d86;
}
.right-content .title-top{
    text-align: center;
    margin: 30px 0; 
    background-color: #fff;    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.title-top .text-logo{
    color: #ff961e;
}
.right-content .row-tittle{
    margin-bottom: 16px;
    margin-top: 50px; 
    margin-left: 36px; 
    height: auto;
}
.cuochop{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    border: 1px solid #333;
    background-color: burlywood;
    border-radius: 3px;
    
}

/* css cho trang chủ */
.suluachon h2{
    padding: 30px;
}

.luachon{
    margin-left: 50px;
    width: 40%;
    float: left;
    padding: 30px 10px;
}
.suluachon{
    width: 90%;
    background-color: #FFF;
    height: 300px;
    margin-left: 44px;
    margin-top: 30px;
    text-align: center;
}
.flex-row-nowrap{
    padding: 0px;
    width: 30%;

    height: 54px;
}
.flex-row-nowrap ul{
    display: flex; 
    height: 54px; 
    margin-left: 60px;
}

.suluachon .luachon .option , .option1{
    text-decoration: none;
    background-color: #ff961e;
    padding: 20px 20px;
    color: #fff;
}
.option1{
    padding: 20px 79px ;
}

/* css nháp phần list chat */
.wrapper-dkgs{
    background-color: #fff;
    width: 100%;
    height: 1000px;
}
.content-dkgs{
    margin-top: 56px;
    display: flex;
    padding: 36px 36px;
    
}
.left-gt-dkgs{
    width: 50%;
    height: 300px;
    background-color: #f7f7f7;
    text-align: justify;
    padding: 28px 28px;
}
.right-gt-dkgs{
    width: 50%;
    height: 300px;
    background-image: url(/assets/img/  );
    margin-left: 20px;
}
.box_title {
    font-weight: bold;
    color: #069d86;
    line-height: 38px;
    font-size: 30px;
}
.outline-bottom {
    height: 3px;
    display: block;
    width: 140px;
    background: #ff961e;
    margin-bottom: 20px;
}
.section-introduction .intro-left p {
    margin-bottom: 10px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
   
}
.section_howitwork .box-header {
    text-align: center;
    margin-bottom: 40px;
}

.col-md-4 {
    width: 33.33333333%;
    position: relative; 
     min-height: 1px; 
     padding-left: 10px; 
    padding-right: 10px;
    float: left;
}

.section_howitwork .item {
    min-height: 200px;
    margin-bottom: 20px;
    border: 2px solid #069D86;
    border-radius: 10px;
    padding: 20px 15px 20px 40px;
    position: relative;
}
.section_howitwork .item .title {
    font-weight: 700;
    font-size: 25px;
    padding: 0 10px 10px 0;
    color: #db2428;
}
.icon-1 {
    background-position: 0 0;
    height: 30px;
    width: 48px;
}
.icon-resource {
    background-image: url(/assets/img/dk-online.PNG);
    background-repeat: no-repeat;
}
.icon-5 {
    background-position: 0 -139px;
    height: 37px;
    width: 48px;
}
.icon-resources {
    background-image: url(/assets/img/ketnoi.PNG);
    background-repeat: no-repeat;
}
.fas {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
.hotline{
    text-decoration: none;
    color: black;
}
.hotline:hover{
    color: #069d86;
}

/* 5 lý do đk gia sư */
.section_whyuss {
    padding: 24px 0;
    background: url(/assets/img/whydasuo.jpg) no-repeat top center;
    background-size: cover;
}
.section_whyuss .box_title {
    line-height: 35px;
    position: relative;
    text-align: center;
    padding-bottom: 22px;
    color: #FFF;
    font-weight: 700;
    font-size: 25px;
    margin-left: -18px;
}

.box_content .item::before {
    font-family: "Montserrat";
    font-weight: 700;
   
    height: 72px;
    line-height: 60px;
    top: 50%;
    margin-top: -28px;
    left: 0;
    color: #FFF;
    font-size: 50px;
}
.item_1,.item_2,.item_3,.item_4,.item_5{
    margin-bottom: 10px;
    width: 96%;
}
.title{
    font-weight: 700;
}
.info{
    background-color: #fff;
    border-radius: 4px;
    padding: 6px 6px;
}
/* 5 lý do đk gia sư */


.section_whyus {
    padding: 24px 0;
    background: url(/assets/img/whydasuo.jpg) no-repeat top center;
    background-size: cover;
    height: 945px;
}
.section_whyus .box_title {
    line-height: 35px;
    position: relative;
    text-align: center;
    padding-bottom: 22px;
    color: #FFF;
    font-weight: 700;
    font-size: 25px;
}
.section_whyus .box_content {
    padding-top: 20px;
}
.section_whyus .item::before {
    content: "01";
    font-family: "Montserrat";
    font-weight: 700;
    position: absolute;
    height: 72px;
    line-height: 60px;
    top: 50%;
    margin-top: -28px;
    left: 0;
    color: #FFF;
    font-size: 50px;
}
.section_whyus .item,
.box_content .item {
    width: 1040px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    margin-bottom: 7px;
}
.section_whyus .item.item_2::before {
    content: "02";
}

.section_whyus .item.item_3::before {
    content: "03";
}

.section_whyus .item.item_4::before {
    content: "04";
}
.section_whyus .item.item_5::before {
    content: "05";
}
.section_whyus .item .item_content {
    min-height: 136px;
    margin-left: 80px;
    border-radius: 5px;
    background: url(/assets/img/icon-22.png) no-repeat 50px center #FFF;
    padding: 35px 35px 35px 150px;
}
.section_whyus .item.item_2 .item_content {
    background-image: url(/assets/img/icon-26.png);
}
.section_whyus .item.item_3 .item_content {
    background-image: url(/assets/img/icon-24.png);
}
.section_whyus .item.item_4 .item_content {
    background-image: url(/assets/img/icon-23.png);
}
.section_whyus .item.item_5 .item_content {
    background-image: url(/assets/img/icon-25.png);
}
.section_whyus .item .item_content .info {
    border-left: 1px solid #CCC;
    padding-left: 50px;
    min-height: 70px;
}
.section_whyus .item .item_content .info .title {
    font-weight: 700;
    font-size: 18px;
    color: #2b4553;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.section_whyus .item .item_content .info .desc {
    font-size: 15px;
    color: #464646;
    font-weight: 500;
    text-align: justify;
}

/* Form đăng ký gia sư */
.form-dkgs{
    width: 100%;
    height: auto;
    padding: 0 0px;
    margin: 0;
    background-color: #fff;
   
}
.content-form-dkgs{
    text-align: center;
    padding: 36px 0;
    font-size: 30px;
    font-weight: 700;
    color: #069d86;
}
.form-dkgs-dasuo{
    text-align: center;
    width: 90%;
    background-color: #EEEEEE;
    margin-left: 64px;
}

.dkgs-text{
    padding: 20px 0;
    font-size: 26px;
    font-weight: bold;
}
.input-dkgs{
    padding: 12px 0px;
}
.input-dkgs input{
    padding: 12px;
    width: 90%;
}
.btn-dkgs{
    width: 50%;
    background-color: #fca40d;
    border: none;
}

/* css cho trang list-chat */
.all-chat {
    margin-left: 41px;
}
.chat_title {
    padding: 32px 0;
    font-size: 18px;
}
.box_content {
    width: 91%;
    margin-left: 25px;
}
.box_content .items{
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 7px;
}
.box_content .item::before {
    content: "01";
    font-family: "Montserrat";
    font-weight: 700;
    position: absolute;
    height: 72px;
    line-height: 60px;
    top: 50%;
    margin-top: -28px;
    left: 0;
    color: #FFF;
    font-size: 50px;
}
.items .item_content {
    min-height: 96px;
    margin-left: 0px;
    border-radius: 5px;
    background: url(/assets/img/chat-ava.jpg) no-repeat 50px center #FFF;
    padding: 35px 35px 35px 150px;
   
}
.common-tooltip{
    position: relative;
}
.dropdown.notification .dropdown-menu {
    min-width: 290px;
    padding-bottom: 0;
    margin-top: -118px;
    margin-left: -243px;
    background-color: #ddd;
    border-radius: 5px;
    position: absolute;
    display: none;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 450px;
    font-size: 14px;
}
.dropdown-menu::after{
    color: red;
    content: "";
    z-index: 2;
    position: absolute;
    right: 16px;
    top: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.common-tooltip:hover .dropdown-menu{
    display: block;
}
.dropdown-menu .title-drop span {
    padding: 0 8px;
    display: block;
    line-height: 35px;
    font-weight: 700;
}
.dropdown-menu .title-drop {
    
    border-bottom: 1px solid #cecece;
    line-height: 35px;
    height: 36px;
    color: #4c4c4c;
    margin: 0;
    font-weight: 400;
  
}
.dropdown.notification .dropdown-menu .list {
    max-height: 450px;
    
}
.dropdown.notification .dropdown-menu .view-all {
    background-color: #eee;
    font-size: 13px;
  height: 40px;
    width: 100%;
    text-align: center;
    padding: 0 ;
}
.detail-list{
    background-color: white;
    border-bottom: 1px solid black;
}
.detail-list a{
    margin-left: 12px;
    padding: 0 6px;
    color: black;
}
.detail-list a:hover{
    color: #069d86;
}
.text-tb {
    margin: 0 0 0px;
    display: none;
}
a {
    color: #069d86;
    background-color: transparent;
    text-decoration: none;
}

.icon-menu::before {
    content: "\f0f3";
    padding: 0 12px;
}
.fa-bell{
    padding: 0 0;
}
.fa-sign-out-alt:before {
    content: "\f2f5";
    padding: 0 20px;
}
.chat-avatar{
    margin-left: 40px;
    border-radius: 50%;
    max-height: 40px;
    max-width: 40px;
}
/* css cho trang list-chat */

/* css cho trang xem giáo trình */
    .file-giao-trinh{
        margin-top: 12px;
        padding: 0 12px;
    }
    .file-goc{
        color: blue;
        list-style: none;
        text-decoration: underline; 

    }
    .info-step-1 div{
        padding: 12px 12px;
    }
/* css cho trang xem giáo trình */
/* css cho trang gia sư online */
.giasuonline_right_content h3 {
    font-size: 24px ;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.basic-article-all .menu {
    list-style: none;
    padding-left: 10px;
    font-size: 14px;
}
.basic-article-all ul li {
    padding: 10px 0px 0px 0px;
}
.basic-article-all li.expanded a.active {
    color: #3af !important;
}
.basic-article-all ul li {
    padding: 10px 0px 0px 0px;
}
.basic-article-all li.expanded ul {
    list-style-type: decimal;
    padding-left: 30px;
    font-size: 14px;
}
/* css cho trang gia sư online */

/* css cho trang xem thông báo */
    .title-tb{
        padding: 10px 8px;
        width: 222px;
        color: #fff;
        background-color: #069d86;
        font-weight: bold;
    }
    .tb_img{
        width: 90%;height: 350px;
    }
    .detail_tb{
        text-align: center;
        margin-top: 40px;
    }
/* css cho trang xem thông báo */
/* css cho trang hiển thị chi tiết bài đăng */
.header-study-group {
    background: -webkit-linear-gradient(top,rgba(106,249,254,0.15),#fff 50%,#fff);
    padding: 5px 10px;
    margin: 10px 0;
    font-size: 14px;
}
.container {

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-left: -12px;
    margin-right: -12px;
}
.header-study-group h1 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700;
}
.header-study-group p i {
    width: 20px;
}
a {
    color: #069d86;
    background-color: transparent;
    text-decoration: none;
}
.bg-gradient-blue {
    background: -webkit-linear-gradient(top,#e7feff,#fff 50%,#fff);
    
}
 .gblock-v2 {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}


/* css cho trang hiển thị chi tiết bài đăng */
.right-contents{
    height: auto;
}

#monhoclinh{
    margin-top: 16px;
    padding: 10px 0;
    padding-right: 220px;
}

.error-alert-linh {
    padding: 20px;
    background-color: #eb7168;
    color: white;
    margin-left: 25px;
    margin-bottom: 10px;
    border-radius: 3px;
    display: none;
  }

  .success-alert-linh {
    padding: 20px;
    background-color: #04AA6D;
    color: white;
    margin-left: 25px;
    margin-bottom: 10px;
    border-radius: 3px;
    display: none;
  }
  
  .closebtn-linh {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn-linh:hover {
    color: black;
  }
