<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>DASUO</title>
</head>

<body>
    <script src="/js/script.js"></script>
    <div id="wrapper">
        <div id="header">
            <div class="logo">
                <a style="text-decoration: none;" href="/index">
                    <h2 class="text-logo">Dasuo</h2>
                </a>

            </div>
            <div class="menu-top">
                
            </div>

            <div style="margin-left: 560px;" class="btn-dk-dn">
                <a href="/dangnhap" id="btn-dn">Đăng nhập</a>
                <a href="/dangky" id="btn-dk">Đăng ký</a>
            </div>


        </div>

        <div style="max-width: 1200px;" class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 4</div>
                <img src="/img/slideimg1.jpg" style="width:100%;height: 450px;">

            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 4</div>
                <img src="/img/slideimg2.jpg" style="width:100%">

            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 4</div>
                <img src="/img/slideimg03.jpg" style="width:100%">

            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 4</div>
                <img src="/img/sliderimg0.jpg" style="width:100%">

            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <br>

        <div style="text-align:center;margin-top: -60px;z-index: 100;">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>

        <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
            }
        </script>





        <div class="container">
            <div id="content1">
                <div class="thong-ke">
                    <a href="#" class="thongke">
                        <i class="fas fa-graduation-cap tk-icon"></i>
                        <span>
                            <strong>10.000+ gia sư</strong>
                            <br>
                            <p id="kcn">khắp cả nước</p>
                        </span>
                    </a>
                </div>

                <div class="thong-ke">
                    <a href="#" class="thongke">
                        <i class="fas fa-user-circle tk-icon"></i>
                        <span class="user-text">
                            <strong>100.000+ lượt truy cập</strong>
                            <br>

                            <p>hàng quý</p>
                        </span>
                    </a>

                </div>

                <div class="thong-ke">
                    <a href="#" class="thongke">
                        <i class="fas fa-handshake tk-icon"></i>
                        <span class="handshake-text">
                            <strong>5.000+ yêu cầu tìm gia sư</strong>
                            <br>

                            <p>Tỷ lệ hài lòng 97%</p>
                        </span>
                    </a>

                </div>
            </div>
            <div class="main-content">
                <h3 class="heading">GIA SƯ NỔI BẬT</h3>
                <hr class="hr-hr">
                <p class="sub-heading">Nền tảng tìm gia sư lớn nhất Việt Nam – 20,000 gia sư trên khắp cả nước</p>
                <div class="menu-monhoc">
                    <ul>
                        <li><a href="#">Toán học</a></li>
                        <li><a href="#">Vật lý học</a></li>
                        <li><a href="#">Văn học</a></li>
                        <li><a href="#">Hóa học</a></li>
                        <li><a href="#">Sinh học</a></li>
                        <li><a href="#">Tiếng anh</a></li>
                        <li><a href="#">Công nghệ thông tin</a></li>
                        <li><a href="#">Các môn khác</a></li>
                    </ul>

                </div>
                <div class="inf-giasu">
                    <script src="/js/web/taikhoan/giasunoibat.js"></script>
                </div>
                
                <div class="sub-content">
                    <div class="request" style="border-right: solid 1px #069d86; padding-right: 10px;">
                        <h3 class="h3-sub-content">TÌM GIA SƯ, TÌM GIÁO VIÊN</h3>
                        <p>Thật đơn giản, bạn chỉ cần gửi yêu cầu học, các giáo viên sẽ gửi đề nghị dạy tới bạn cùng với
                            mức học phí mong muốn. Bạn sẽ chủ động chọn lựa giáo viên phù hợp với bạn nhất.</p>
                        <div class="btn-request">
                            <a href="">Yêu cầu tìm gia sư</a>
                        </div>
                    </div>
                    <div class="become" style="padding-left: 15px;">
                        <h3 class="h3-sub-content">TRỞ THÀNH GIA SƯ</h3>
                        <p>Nếu bạn có một khả năng nào đó, hãy đăng ký trở thành gia sư trên hệ thống Dasuo, bạn sẽ được
                            tiếp cận với hàng ngàn học viên và có cơ hội được truyền đạt kiến thức của mình</p>
                        <div class="btn-request">
                            <a href="/dangky">Trở thành gia sư</a>
                        </div>
                    </div>
                </div>
                
                <hr style="margin-top: 30px;color: #069d86; width: 100%;">
             <div class="last-content">
                 <script src="/js/web/components/httv.js"></script>
             </div>
             <div id="footer">
                <script src="/js/web/components/footer_web.js"></script>
            </div>

</body>

</html>