<div>
    <h2>Reset Your Password</h2>
</div>
<div th:if="${message != null}">
    <p class="text-warning">[[${message}]]</p>
</div>
<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${token}" />
<div class="border border-secondary rounded p-3">
    <div>
        <p>
            <input type="password" name="password" id="edit-pass" class="form-control"
                  title="Please enter your First Name" required=""/>
        </p>         
        <p>
            <input type="password" name="repassword"class="form-control" placeholder="Confirm your new password" id="edit-re-pass"
                 title="Please enter your First Name" required=""/>
        </p>         
        <p class="text-center">
            <input type="submit" value="Change Password" class="btn btn-primary" />
        </p>
    </div>
</div>
</form>
<script type="text/javascript">
function checkPasswordMatch(fieldConfirmPassword) {
    if (fieldConfirmPassword.value != $("#password").val()) {
        fieldConfirmPassword.setCustomValidity("Passwords do not match!");
    } else {
        fieldConfirmPassword.setCustomValidity("");
    }
}
</script>
<script>
				var password = document.getElementById("edit-pass")
					  , confirm_password = document.getElementById("edit-re-pass");
		
				function validatePassword(){
					  if(password.value != confirm_password.value) {
						confirm_password.setCustomValidity("Mật khẩu nhập lại không khớp!");
					  } else {
						confirm_password.setCustomValidity('');
					  }
				}
		
				password.onchange = validatePassword;
				confirm_password.onkeyup = validatePassword;
			</script>